<section class="bigtoe-profile-content bigtoe-booking-detail">
    <div class="container">
        <form>
            <div class="bigtoe-booking-form">
                <div class="form-group">
                    <label>Directions</label>
                    <textarea class="form-control" rows="5"
                        placeholder="(Optional) Eg. buzz 1 when you get to the building"></textarea>
                    <small class="bigtoe-sm-txt">0/250</small>
                </div>
            </div>
        </form>
    </div>
</section>