<section class="bigtoe-profile-content bigtoe-booking-detail">
    <div class="container">
        <form>
            <div class="bigtoe-booking-form">
                <div class="form-group">
                    <label>Add a Note</label>
                    <textarea class="form-control" rows="5" placeholder="(Optional) Anything you'd like to tell the provider about your expectations from the session"></textarea>
                    <small class="bigtoe-sm-txt">0/250</small>
                </div>
            </div>
        </form>
    </div>
</section>