<section class="bigtoe-profile-content bigtoe-booking-detail">
    <div class="container">
        <form>
            <div class="bigtoe-booking-form">
                <div class="form-group">
                    <label>Phone Number <span class="bitgoe-form-required">*</span></label>
                    <p  class="">Only US numbers are allowed</p>
                    <input type="tel" class="form-control"  placeholder="+38097621056">
                    <p class="bigtoe-form-note">We ask for your phone number fro security purpose. We won't call you unless necessary</p>
                </div>
            </div>
        </form>
    </div>
</section>