<section class="bigtoe-profile">
   <div class="container">
      <div class="row">
         <div class="col-md-5 col-xs-5">
            <img src="{{teacherData.profile_picture}}" class="bigtoe-profile-pic" />
            <h3 class="title-head">{{teacherData.firstname}} {{teacherData.lastname}}</h3>
            <p>“{{teacherData.adjective1}} and {{teacherData.adjective2}}”</p>
            <ul class="bigtoe-ratings">
               <li><i class="fa fa-star-o" aria-hidden="true"></i></li>

               <li><i class="fa fa-star-o" aria-hidden="true"></i></li>

               <li><i class="fa fa-star-o" aria-hidden="true"></i></li>

               <li><i class="fa fa-star-o" aria-hidden="true"></i></li>

               <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
               <span class="bigtoe-rate">({{teacherData.number_of_ratings}})</span>
            </ul>
         </div>

         <div class="col-md-7 col-xs-7 pl-0 bigtoe-profile-right"
            *ngFor="let skill_title of teacherData.skill_category">
            <div class="bigtoe-tab-outer">
               <div class="bigtoe-yoga-tog panel-heading active" role="tab" id="headingOne">
                  <h4 class="panel-title">
                     <a role="button" (click)="toggleShowDiv('divB','',skill_title.skill_category_id)"
                        href="javascript:;" aria-expanded="true" aria-controls="collapseOne">
                        <span> {{skill_title.service_category}} <i class="fa fa-chevron-down icon-rotate"
                              aria-hidden="true"></i>
                        </span>
                     </a>
                  </h4>
               </div>
            </div>
            <div [@slideInOut]="animationStateCategory" class="divB">
               <div class="bigtoe-radio-bx">
                  <div *ngFor="let skill of skill_title.skill">
                  <label class="radio-outer" (click)="toggleShowDiv('divC'+skill.name,skill.name,skill.skill_id)">
                     <a data-toggle="tab"
                        >{{skill.name}}</a>
                     <input type="radio" check name="radio">
                     <span class="checkmark"></span>
                  </label>
                  </div>
               </div>
               
            </div>
            <div class="tab-content" *ngFor="let skill of skill_title.skill">
               <div *ngIf="skill.name==capturenameOnClick" class="divC{{skill.name}}">
                  <p>{{skill.description}}<a href="#" class="more-btn">More </a>
                  </p>
               </div>

            </div>
         </div>
      </div>
   </div>

</section>
<section class="bigtoe-profile-content">
   <div class="container">


      <div class="bigtoe-setting-bx">
         <button type="button" class="btn bigtoe-setting-btn" (click)="toggleShowDiv('divA','','')">
            View Details
            <i class="fa fa-angle-down"></i></button>
         <div id="demo1" [@slideInOut]="animationState" class="divA view-togg">
            <h4>Highlights </h4>
            <p>{{teacherData.summary}}</p>
            <h4>About </h4>
            <p>{{teacherData.about}}</p>
            <h4>Trainings </h4>
            <p *ngFor="let trainingData of teacherData.teacher_educations">{{trainingData.degree_name}}</p>
            <h4>Session </h4>
            <p>Each session is 60 mins long.</p>
            <h4>Cancellation Policy </h4>
            <p>BurnStrong is located at 46 W 46th st between 5th and 6th Ave and is close to Bryant Park and Grand
               Central.</p>
         </div>
      </div>

      <h4>Gender Preference</h4>
      <div class="gender">
         No prefernces
         <input id="chb1" type="radio" name="radiogroup1"  />
      </div>
      <div class="gender">
         Female
         <input id="chb2" type="radio" name="radiogroup1"  />
      </div>
      <div class="gender">
         Male
         <input id="chb3" type="radio" name="radiogroup1"  />
      </div>

      <h4>Number of people</h4>
      <div class="bigtoe-increament">
         <i class="fa fa-user" aria-hidden="true"></i>
         <input type="button" (click)="count = count-1" value="-" id="subs" class="btn btn-default pull-left minus-btn"
            style="margin-right: 2%" [disabled]="count==1" />&nbsp;
         <input type="text" class="onlyNumber form-control " id="noOfRoom" value="{{count}}" name="noOfRoom" />&nbsp;
         <input type="button" (click)="count = count+1" value="+" id="adds" class="btn btn-default add-btn" />
      </div>
      <h4>Schedule</h4>
      <div class="bigtoe-calender-title">
         <i class="fa fa-chevron-left" aria-hidden="true" (click)="prevDate()"></i>
         <h4>{{nextdateFormat}}</h4>
         <i class="fa fa-chevron-right" aria-hidden="true" (click)="nextDate()"></i>
      </div>

      <div *ngFor="let slotDate of teacherData.slots_details">
         <ul class="bigtoe-calender-inner" *ngIf="nextdate==slotDate.date">
            <div *ngFor="let slotTime of slotDate.slots">
               <li [ngClass]="{'selectedTimeSlot': selectedItemId === slotTime}" (click)="selectedItemIds(slotTime)">
                  <a> {{slotTime}}</a>
               </li>
            </div>
         </ul>
      </div>
   </div>
   <div class="bigtoe-shadow"><a [routerLink]="'/booking-details'" class="bigtoe-time-btn">Select Time</a></div>
</section>