.bigtoe-profile-pic{
    width: 180px;
}

.bigtoe-radio-bx {
    a{
        color: black;
    }
}
.selectedTimeSlot{
    background-color: #01baf2;
}
.selectedTimeSlot a{
    color: #fff;
}
.bigtoe-calender-inner{
    cursor: pointer;
}